<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524900500688-80q9jd8tus02b9l75egba9q9ver47e8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524900500688-80q9jd8tus02b9l75egba9q9ver47e8n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>524900500688-f9v53o78fgjt8susfc92pqb531vbkm9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIr-WKIb1k3GFho_2TH05jh8PA0mlGoTg</string>
	<key>GCM_SENDER_ID</key>
	<string>524900500688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uricsc305.studysprint</string>
	<key>PROJECT_ID</key>
	<string>study-sprint-4ld9hz</string>
	<key>STORAGE_BUCKET</key>
	<string>study-sprint-4ld9hz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524900500688:ios:f2a0e929b54f9ff8bd8ad5</string>
</dict>
</plist>